<!DOCTYPE html>
<html lang="en">

  <head>
    <style>
      .wrapper {
        width: 50%;
        display: grid;
        grid-template-rows: auto auto;
      }

      .content {
        display: grid;
        grid-template-columns: 180px auto;
      }

    </style>
  </head>

  <body>
    <div class="container">
      <h1>Create miniURL</h1>
      <form action="/add" method="post">
        <div class="wrapper">
          <div class="content">
            <label><b>OrginalURL</b><label style="color: red;">*</label></label>
            <input type="text" placeholder="Enter orginalURL" name="orginalURL" required>
          </div>
          <div class="content">
            <label><b>Customize extension</b></label>
            <input type="text" placeholder="Enter customize extension" name="extension">

          </div>
          <p>If customize extension is empty, an 3 characters extension will be automated generate.</p>
        </div>
        <button>Generate</button>
      </form>
    </div>
  </body>

</html>
